<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /wofex_autumn
RewriteRule ^wofex_autumn/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wofex_autumn/index.html [L]
</IfModule>